@import "bootstrap";

// CSS da Barra de Navegação
.navbar-links{
    justify-content: flex-start;
}

.navbar-buttons{
    margin-left: auto;
}

.btn{
    margin-right: 10px;
}

// CSS das views de livro
.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 10px;
}